$primary-color: #8f659a;
$secondary-color: #ef8767;


$accent-color: #542a5e;
$accent-secondary-color: #788BB6;

$soft-color: #eee9ee;
$medium-color: #cccccc;
$darker-color: #120216;
$default-color: #aaa7a7;
$text-light: #fffefe;
$text-dark: #151517;

$danger-color: #ff8474;
$success-color: #8fd9a8;
