@import "src/styles/vars";
@import "src/styles/mixins";

main.customer, main.simple_layout {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding: 0 $md;
  transition: .5s ease-in-out;
  animation: swipeContent .3s;

  background-position-x: 100px;
  background-position-y: -100px;
  background-image: url("./bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  @include medium_screen{
    background-position-x: 800px;
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 00, 0, 0.6);
    @include medium_screen {
      display: none;
    }
  }
}

main.simple_layout {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes swipeContent {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
